<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /gceu
    RewriteRule ^subdirectoryName/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /gceu/index.html [L]
</IfModule>